<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Add Book</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css">
</head>

<body>
	
	<!-- Navigation -->
		<nav class="navbar navbar-expand-lg navbar-dark bg-dark static-top">
		    <div class="container">
		        <a class="navbar-brand" href="/">Book App</a>
		        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive"
		                aria-expanded="false" aria-label="Toggle navigation">
		            <span class="navbar-toggler-icon"></span>
		        </button>
		        <div class="collapse navbar-collapse" id="navbarResponsive">
		        </div>
		    </div>
		</nav>
	
	
    <div class="container my-5" style="padding-top: 30px;">
    
        <h3> Add Book</h3>
        
        
        <div class="card">
            <div class="card-body">
                <div class="col-md-10">
                    <form th:action="@{/createBook}" th:object="${book}" method="post">
                    
                    	<div class="row">
                        	
                            <div class="form-group col-md-8">
                                <label for="name" class="col-form-label">Book Name</label>
                                <input type="text" th:field="*{bookName}" class="form-control"
                                            id="bookName" placeholder="Book Name" />
                            </div>
                            <div class="form-group col-md-8">
                                <label for="name" class="col-form-label">Author</label>
                                <input type="text" th:field="*{author}" class="form-control"
                                            id="author" placeholder="Author" />
                            </div>
                            <div class="form-group col-md-8">
                                <label for="email" class="col-form-label">ISBN</label>
                                <input type="number" th:field="*{ISBN}" class="form-control"
                                            id="email" placeholder="ISBN" />
                            </div>

                            <div class="col-md-6">
                                <input type="submit" class="btn btn-primary" value=" Submit ">
                            </div>

                            <input type="hidden" id="id" th:field="*{id}">
    
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>

</html>